In [39]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (8.0.19)
Requirement already satisfied: protobuf==3.6.1 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (3.6.1)
Requirement already satisfied: dnspython==1.16.0 in c:\programdata\anaconda3\lib\site-packages (from mysql-connector-python) (1.16.0)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from protobuf==3.6.1->mysql-connector-python) (40.8.0)
Requirement already satisfied: six>=1.9 in c:\programdata\anaconda3\lib\site-packages (from protobuf==3.6.1->mysql-connector-python) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [40]:
pip install pymysql

Requirement already satisfied: pymysql in c:\programdata\anaconda3\lib\site-packages (0.9.3)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import numpy as np
import matplotlib.pyplot as plt                                    # Plotting library for Python programming language and it's numerical mathematics extension NumPy\n",
import seaborn as sns                                              # Provides a high level interface for drawing attractive and informative statistical graphics\n",
sns.set_style("dark")
sns.set()
import dateutil.parser
%matplotlib inline
import pandas as pd
import pymysql

C:\Anaconda\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
conn_cred = {'host': 'cpanel.insaid.co',
             'username': 'student',
             'password': 'student',
             'db': 'Capstone2'}
# Open database connection\n"
conn = pymysql.connect(conn_cred['host'],conn_cred['username'],conn_cred['password'],conn_cred['db'])
print("MySQL connection is opened")
conn.close()
print("MySQL connection is closed")

MySQL connection is opened
MySQL connection is closed

In [6]:
#open connection
conn = pymysql.connect(conn_cred['host'],conn_cred['username'],conn_cred['password'],conn_cred['db'])
# open cursor
cursor = conn.cursor()
# query
query = "SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES WHERE table_schema ='Capstone2'"
# execute query
cursor.execute(query)
# fetch results
result = cursor.fetchall()
# print results
for table in result:
    print (table)
# close connection
conn.close()

('department_data',)
('employee_data',)
('employee_details_data',)
('model_evaluation_results',)
('model_evaluation_table',)

In [4]:
#open connection
conn = pymysql.connect(conn_cred['host'],conn_cred['username'],conn_cred['password'],conn_cred['db'])
# open cursor
cursor = conn.cursor()
table1 = "Select * from department_data"
cursor.execute(table1)
result1 = cursor.fetchall()
department_data_df = pd.read_sql(table1, conn)
# for row in result1:
#     print(row)
print(department_data_df.head())
cursor.close()
conn.close()
print("MySQL connection is closed")

   dept_id    dept_name              dept_head
0   D00-IT           IT             Henry Adey
1   D00-SS        Sales        Edward J Bayley
2   D00-TP         Temp        Micheal Zachrey
3  D00-ENG  Engineering  Sushant Raghunathan K
4   D00-SP      Support         Amelia Westray
MySQL connection is closed

In [8]:
department_data_df.to_csv("department_data.csv")

In [13]:
len(department_data_df)

11

In [5]:
#open connection
conn = pymysql.connect(conn_cred['host'],conn_cred['username'],conn_cred['password'],conn_cred['db'])
# open cursor
cursor = conn.cursor()
table3 = "Select * from employee_details_data"
cursor.execute(table3)
result3 = cursor.fetchall()
employee_details_data_df = pd.read_sql(table3, conn)
# for row in result3:
#     print(row)
print(employee_details_data_df.head())
cursor.close()
conn.close()
print("MySQL connection is closed")

   employee_id  age  gender marital_status
0       113558   43    Male        Married
1       112256   24  Female      Unmarried
2       112586   22  Female      Unmarried
3       108071   36    Male        Married
4       116915   38    Male        Married
MySQL connection is closed

In [9]:
employee_details_data_df.to_csv("employee_details_data.csv")

In [12]:
len(employee_details_data_df)

14245

In [7]:
#open connection
conn = pymysql.connect(conn_cred['host'],conn_cred['username'],conn_cred['password'],conn_cred['db'])
# open cursor
cursor = conn.cursor()
table3 = "Select * from employee_data"
cursor.execute(table3)
result3 = cursor.fetchall()
employee_data_df = pd.read_sql(table3, conn)
# for row in result3:
#     print(row)
print(employee_data_df.head())
cursor.close()
conn.close()
print("MySQL connection is closed")

   avg_monthly_hrs department  filed_complaint  last_evaluation  n_projects  \
0            246.0       None              NaN         0.866838           6
1            134.0       None              NaN         0.555718           2
2            156.0     D00-SS              1.0         0.474082           2
3            256.0     D00-SP              NaN         0.961360           6
4            146.0     D00-SS              NaN         0.507349           2

   recently_promoted  salary  satisfaction status  tenure  employee_id
0                NaN  medium      0.134415   Left     4.0       124467
1                NaN     low      0.511041   Left     3.0       112210
2                NaN  medium      0.405101   Left     3.0       126150
3                NaN     low      0.152974   Left     4.0       125346
4                NaN  medium      0.434845   Left     3.0       113707
MySQL connection is closed

In [10]:
employee_data_df.to_csv("employee_data.csv")

In [11]:
len(employee_data_df)

14150