In [1]:
import pandas as pd
import numpy as np
from ipywidgets import *
#from ipywidgets import widgets, interactive
import seaborn as sns
from matplotlib.widgets import Button,Slider,CheckButtons
from IPython.core.display import HTML

C:\Anaconda\lib\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
mydateparser = lambda x: pd.datetime.strptime(x, "%Y-%m-%d %H:%M:%S")

In [3]:
df_merger_all=pd.read_csv("merge_all.csv", parse_dates=["timestamp"], date_parser=mydateparser)

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  """Entry point for launching an IPython kernel.

In [43]:
# df_merger_all["Group Id"]=1039

In [4]:
df_merger_all.state.value_counts()

AndhraPradesh               233429
Meghalaya                     1400
Pondicherry                   1360
AndamanandNicobarIslands      1302
Mizoram                       1216
HimachalPradesh                854
Name: state, dtype: int64

In [44]:
df_merger_all.to_csv("merge_all - Copy.csv",index=False)

In [4]:
df_merger_all.shape

(239561, 13)

In [5]:
df_merger_all.isnull().sum()

Unnamed: 0      0
device_id       0
gender          0
age             0
group           0
phone_brand     0
device_model    0
event_id        0
timestamp       0
city            0
state           0
longitude       0
latitude        0
dtype: int64

In [6]:
state_list= ["AndhraPradesh", "Pondicherry", "Mizoram", "AndamanandNicobarIslands", "Meghalaya", "HimachalPradesh"]

In [6]:
df_merger_all[df_merger_all.duplicated(subset=["device_id"])]

,Unnamed: 0,device_id,gender,age,group,phone_brand,device_model,event_id,timestamp,city,state,longitude,latitude
1,1,-1.039701e+18,M,38,M32-38,Xiaomi,MI 4,66535.0,2016-05-06 02:53:29,Visakhapatnam,AndhraPradesh,83.364566,17.788503
2,2,-1.039701e+18,M,38,M32-38,Xiaomi,MI 4,142256.0,2016-05-06 10:42:02,Visakhapatnam,AndhraPradesh,83.364566,17.788503
3,3,-1.039701e+18,M,38,M32-38,Xiaomi,MI 4,162135.0,2016-05-07 01:48:44,Visakhapatnam,AndhraPradesh,83.364566,17.788503
4,4,-1.039701e+18,M,38,M32-38,Xiaomi,MI 4,172479.0,2016-05-03 10:46:20,Visakhapatnam,AndhraPradesh,83.364566,17.788503
5,5,-1.039701e+18,M,38,M32-38,Xiaomi,MI 4,177903.0,2016-05-05 14:39:56,Visakhapatnam,AndhraPradesh,83.364566,17.788503
...,...,...,...,...,...,...,...,...,...,...,...,...,...
239555,239555,6.710249e+18,F,20,F23-,Coolpad,F2,3063136.0,2016-05-05 06:08:36,Visakhapatnam,AndhraPradesh,83.372853,17.765826
239556,239556,6.710249e+18,F,20,F23-,Coolpad,F2,3107229.0,2016-05-02 07:18:18,Visakhapatnam,AndhraPradesh,83.372853,17.765826
239557,239557,6.710249e+18,F,20,F23-,Coolpad,F2,3131978.0,2016-05-06 06:26:41,Visakhapatnam,AndhraPradesh,83.372853,17.765826
239558,239558,6.710249e+18,F,20,F23-,Coolpad,F2,3131979.0,2016-05-06 06:27:00,Visakhapatnam,AndhraPradesh,83.372853,17.765826
239559,239559,6.710249e+18,F,20,F23-,Coolpad,F2,3175058.0,2016-05-04 17:04:39,Visakhapatnam,AndhraPradesh,83.372853,17.765826

In [5]:
df_merge_non_duplicated=df_merger_all.drop_duplicates(subset=["device_id"])

In [8]:
df_merger_all.shape

(239561, 13)

In [6]:
df_merge_non_duplicated.shape

(3866, 13)

In [ ]:
df_merge_non_duplicated.to_csv("non_duplicated_mergeall.csv",index=False)

In [10]:
# Make a dropdown to select the Area, or "All"
area = widgets.Dropdown(
    options=['All Relevant States'] + list(df_merge_non_duplicated['state'].unique()),
    value='All Relevant States',
    description='State:',
)

In [11]:
# Make a dropdown to select the Area, or "All"
area_hrly = widgets.Dropdown(
    options=['All Relevant States'] + list(df_merge_non_duplicated['state'].unique()),
    value='All Relevant States',
    description='State:',
)

In [12]:
# Make a dropdown to select the Area, or "All"
area_user_distribution = widgets.Dropdown(
    options=['All Relevant States'] + list(df_merge_non_duplicated['state'].unique()),
    value='All Relevant States',
    description='State:',
)

In [13]:
area_user_based_on_phone_brand = widgets.Dropdown(
    options=['All Relevant States'] + list(df_merge_non_duplicated['state'].unique()),
    value='All Relevant States',
    description='State:',
)

In [14]:
def plot_event_date(area):
    if(area=='All Relevant States'):
          display(HTML("<b>Number of Events for <span style='color:red'>'{0}'</span> : {1}</b>".format(area,df_merger_all.shape[0])))
    else:
          display(HTML("<b>Number of Events for <span style='color:red'>'{0}'</span> : {1}</b>".format(area,df_merger_all[df_merger_all.state==area].shape[0])))

In [15]:
interactive(plot_event_date,area=area)

interactive(children=(Dropdown(description='State:', options=('All Relevant States', 'AndhraPradesh', 'Meghala…

In [21]:
def plot_user_distribution_date(area):
    if(area=='All Relevant States'):
        ax=df_merge_non_duplicated.groupby("state").count()["device_id"].sort_values().plot(kind="bar")
        plt.title("Distribution of Customers State-wise")
#         for p in ax.patches:
#             ax.annotate('{:.1f}'.format(p.get_height()), (p.get_x()+.1, p.get_height()/2))
        
    else:
        ax=df_merge_non_duplicated[df_merge_non_duplicated.state==area].groupby("state").count()["device_id"].sort_values().plot(kind="bar")
        plt.title("Distribution of Customers for : {0}".format(area))
#         for p in ax.patches:
#              ax.annotate('{:.1f}'.format(p.get_height()), (p.get_x()+.1, p.get_height()/2))

In [22]:
interactive(plot_user_distribution_date,area=area_user_distribution)

interactive(children=(Dropdown(description='State:', options=('All Relevant States', 'AndhraPradesh', 'Meghala…

In [23]:
 df_merger_all_index_time=df_merger_all.set_index('timestamp')

In [24]:
def plot_hrly_distribution_state(area):
   
    display(HTML("<b>Hourly distribution for <span style='color:red'>{}</span </b>:".format(area)))
    if(area=='All Relevant States'):  
            fig, ax = plt.subplots(figsize=(100,12))
            df_merger_all_index_time.groupby([pd.Grouper(freq='H')])["event_id"].count().plot(kind="bar",ax=ax)
            plt.xlabel("Timestamp")
            plt.ylabel("# of events")
            plt.legend("Hourly distribution for {} :".format(area))
            plt.show()
    else:
            
            fig, ax = plt.subplots(figsize=(100,12))
            df_merger_all_index_time[df_merger_all_index_time.state==area].groupby([pd.Grouper(freq='H')])["event_id"].count().plot(kind="bar",ax=ax)
            plt.xlabel("Timestamp")
            plt.ylabel("# of events")

In [25]:
interactive(plot_hrly_distribution_state,area=area_hrly)

interactive(children=(Dropdown(description='State:', options=('All Relevant States', 'AndhraPradesh', 'Meghala…

In [28]:
def plot_user_based_on_phone_brand(area):
   
    display(HTML("<b>User distribution based Phone Brand for <span style='color:red'>{}</span </b>:".format(area)))
    if(area=='All Relevant States'):  
            ax=df_merge_non_duplicated.phone_brand.value_counts().nlargest(10).plot(kind="bar")
    else:            
            ax=df_merge_non_duplicated[df_merge_non_duplicated.state==area].phone_brand.value_counts().nlargest(10).plot(kind="bar")
#     for p in ax.patches:
#              ax.annotate('{:.1f}'.format(p.get_height()), (p.get_x()+.1, p.get_height()/2))

In [29]:
interactive(plot_user_based_on_phone_brand,area=area_user_based_on_phone_brand)

interactive(children=(Dropdown(description='State:', options=('All Relevant States', 'AndhraPradesh', 'Meghala…

In [30]:
area_gender_based_state = widgets.Dropdown(
    options=['All Relevant States'] + list(df_merge_non_duplicated['state'].unique()),
    value='All Relevant States',
    description='State:',
)

In [35]:
def plot_gender_distribution_state(area):
    if(area=='All Relevant States'):  
           ax=sns.countplot(data=df_merge_non_duplicated,x="gender", order=["M","F"])
    else:
           ax=sns.countplot(data=df_merge_non_duplicated[df_merge_non_duplicated.state==area],x="gender", order=["M","F"])
#     for p in ax.patches:
#              ax.annotate('{:.1f}'.format(p.get_height()), (p.get_x()+.3, p.get_height()/2))

In [36]:
interactive(plot_gender_distribution_state,area=area_gender_based_state)

interactive(children=(Dropdown(description='State:', index=2, options=('All Relevant States', 'AndhraPradesh',…

In [37]:
def define_age(row):
    if row["age"] <= 22:
        return "22-"
    elif (row["age"] >= 23) & (row["age"] <= 26):
        return "23-26"
    elif (row["age"] >= 27) & (row["age"] <= 28):
        return "27-28"
    elif (row["age"] >= 29) & (row["age"] <= 32):
        return "29-32"
    elif (row["age"] >= 33) & (row["age"] <= 38):
        return "33-38"
    elif row["age"] >= 39:
        return "39+"

In [38]:
df_merge_non_duplicated["Age_Group"]=df_merge_non_duplicated.apply(define_age,axis=1)

C:\Anaconda\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [39]:
area_age_grp_based_state = widgets.Dropdown(
    options=['All Relevant States'] + list(df_merge_non_duplicated['state'].unique()),
    value='All Relevant States',
    description='State:',
)

In [40]:
def plot_age_grp_distribution_state(area):
    if(area=='All Relevant States'):  
           ax=sns.countplot(data=df_merge_non_duplicated,x="Age_Group", order = df_merge_non_duplicated['Age_Group'].value_counts().index)
    else:
           ax=sns.countplot(data=df_merge_non_duplicated[df_merge_non_duplicated.state==area],x="Age_Group", order = df_merge_non_duplicated['Age_Group'].value_counts().index)
#     ax.annotate('{:.1f}'.format(p.get_height()), (p.get_x()+.2, p.get_height()/2))
    plt.ylabel("# users")
    plt.xlabel("Age Group")

In [41]:
interactive(plot_age_grp_distribution_state,area=area_age_grp_based_state)

interactive(children=(Dropdown(description='State:', options=('All Relevant States', 'AndhraPradesh', 'Meghala…

In [181]:
from plotly.offline import init_notebook_mode, iplot
import plotly.graph_objs as go
import chart_studio.plotly as py
from plotly import tools
init_notebook_mode(connected=True)