In [9]:
import pandas as pd
import numpy as np

In [2]:
df_gender_age_train= pd.read_csv("gender_age_train.csv")

In [3]:
df_gender_age_train.head()

             device_id gender  age   group
0 -8076087639492060000      M   35  M32-38
1 -2897161552818060000      M   35  M32-38
2 -8260683887967670000      M   35  M32-38
3 -4938849341048080000      M   30  M29-31
4   245133531816851000      M   30  M29-31

In [4]:
#no duplicates found in gender_age_table
df_gender_age_train[df_gender_age_train.duplicated(subset=['device_id'])]

Empty DataFrame
Columns: [device_id, gender, age, group]
Index: []

In [12]:
df_events_data_from_insaid=pd.read_csv("Modified_Event_Data_final.csv",dtype={'device_id':np.float64,'event_id': str})

In [14]:
df_events_data_from_insaid.iloc[0,2]

2.9182687948017176e+16