In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")

In [2]:
df_gender_age_train=pd.read_csv("gender_age_train.csv")

In [3]:
df_gender_age_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74645 entries, 0 to 74644
Data columns (total 4 columns):
device_id    74645 non-null int64
gender       74645 non-null object
age          74645 non-null int64
group        74645 non-null object
dtypes: int64(2), object(2)
memory usage: 2.3+ MB

In [2]:
df_phone_brand= pd.read_excel("phone_brand_device_model.xlsx")

In [5]:
df_phone_brand.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87726 entries, 0 to 87725
Data columns (total 3 columns):
device_id       87726 non-null int64
phone_brand     87726 non-null object
device_model    87726 non-null object
dtypes: int64(1), object(2)
memory usage: 2.0+ MB

In [34]:
df_phone_brand.device_id.value_counts()

-3237366855374686208    1
 7098797247875077120    1
-8790840836060235776    1
 3894272611414389760    1
-3261438155686745088    1
                       ..
-814367717732503424     1
 6385729450309875712    1
 8668349018675082240    1
-8550116984671656960    1
 6432253653024596992    1
Name: device_id, Length: 87726, dtype: int64

In [3]:
brands_in_chinese = ['华为','小米','三星','魅族','酷派','乐视','联想 ','vivo','OPPO','HTC','LG','TCL','LOGO','Lovme','ZUK','PPTV','努比亚','海信','天语','夏新','欧比', '优米', '欧博信', '奇酷', '锤子', '酷比魔方', '语信', '朵唯', '德赛', '一加',
       '华硕', '普耐尔', '易派', '摩托罗拉', '优购', '酷珀', '梦米', '爱派尔', '昂达', '邦华',
       '聆韵', '中国移动', '诺亚信', '酷比', '艾优尼', '斐讯', '富可视', '欧新', '美图', '宝捷讯',
       '青橙', '果米', '波导', '诺基亚', '神舟', '糯米', '亿通', '纽曼', '唯米', '百立丰',
       '沃普丰', '虾米', '凯利通', '贝尔丰', '至尊宝', '蓝魔', '青葱', '白米', '大可乐', '尼比鲁',
       '康佳', '乡米', '黑米', '海尔', '优语', '维图', '米歌', '广信', 'E派', '小杨树', '糖葫芦',
       '西米', '谷歌', '长虹', '飞利浦', '惠普', '台电', '大Q', '鲜米', '先锋', '欧奇']
brands_in_english = ['Huawei','Xiaomi','Samsung','Meizu','Coolpad','LeEco','Lenovo','vivo','OPPO','HTC','LG','TCL','LOGO','Lovme','ZUK','PPTV','Nubia','Hisense','Amagatarai','Amoi','Obi', 'Youmi', 'Obson', 'Qiku', 'Hammer', 'Cubei Cube', 'Letters', 'Duowei', 'Desai', 'One Plus','ASUS', 'Punale', 'Yipai', 'Motorola', 'Yougo', 'Cooper', 'Mengmi', 'Aipair', 'Onda', 'Banghua', 'Lingyun', 'China Mobile', 'Noah',' Coolby ',' Aiyouni ',' Feixun ',' Focus', 'Ou Xin', 'Meitu', 'Projet News','Green Orange', 'Fruit Rice', 'Flyer', 'Nokia', 'Shenzhou', 'Glutinous Rice', 'Yi Tong', 'Newman', 'Wei Mi', 'Bai Li Feng','Wopfung', 'Shrimp', 'Kellystone', 'Bellfonte', 'Extreme Treasure', 'Blue Devils', 'Scallion', 'White Rice', 'Big Cola', 'Nibiru','Kangjia', 'Xianmi', 'Black Rice', 'Haier', 'Youyu', 'Weitu', 'Mi Ge', 'Guangxin', 'E-Pay', 'Little Poplar', ' Candied ','Simi', 'Google', 'Changhong', 'Philips', 'HP', 'Taipower', 'Big Q', 'Fresh Rice', 'Pioneer', 'Ouqi']

brands_dict = dict(zip(brands_in_chinese, brands_in_english))

In [4]:
def translator(val):
    if val["phone_brand"] in brands_dict:
        return brands_dict[val["phone_brand"]]
    else:
        return val

In [5]:
df_phone_brand["phone_brand_eng"]=df_phone_brand.apply(translator,axis=1)

In [6]:
df_phone_brand.head()

             device_id phone_brand device_model phone_brand_eng
0  1877775838486906112        vivo          Y13            vivo
1 -3766087376657243136          小米         V183          Xiaomi
2 -6238937574958216192        OPPO          R7s            OPPO
3  8973197758510676992          三星        A368t         Samsung
4 -2015528097870763008          小米      红米Note2          Xiaomi

In [10]:
mydateparser = lambda x: pd.datetime.strptime(x, "%Y-%m-%d %H:%M:%S")

In [59]:
df_event_data=pd.read_csv("events_data.csv", dtype={"device_id":str})

In [52]:
df_event_data.device_id.value_counts()

5.536513450525271e+18      33426
-4.792366453774469e+18     14568
4.428420611296416e+17       6731
-6.242501228649114e+18      4150
-8.340098378141155e+18      3973
                           ...
5.113545716345188e+18          1
6.566343630389606e+17          1
-2.5566268762045665e+18        1
-6.827032534889442e+18         1
7.632276876365866e+18          1
Name: device_id, Length: 60865, dtype: int64

In [58]:
df_event_data[df_event_data.device_id=="5536513450525271000"]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

In [25]:
df_event_data.head()

,event_id,device_id,timestamp,longitude,latitude,city,state
0,1.0,2.918269e+16,2016-05-01 00:55:25,77.266049,28.68161,Delhi,Delhi
1,7104.0,2.918269e+16,2016-05-02 09:37:02,77.266049,28.68161,Delhi,Delhi
2,29661.0,2.918269e+16,2016-05-04 00:56:04,77.266049,28.68161,Delhi,Delhi
3,33133.0,2.918269e+16,2016-05-06 05:01:15,77.266049,28.68161,Delhi,Delhi
4,38980.0,2.918269e+16,2016-05-06 09:55:04,77.266049,28.68161,Delhi,Delhi

In [29]:
np.round(2.918269e+16,16)

2.918269e+16

In [36]:
df_event_data[df_event_data.device_id=="-8550116984671656960"]

Empty DataFrame
Columns: [event_id, device_id, timestamp, longitude, latitude, city, state]
Index: []

In [13]:
state_list= ["AndhraPradesh", "Pondicherry", "Mizoram", "AndamanandNicobarIslands", "Meghalaya", "HimachalPradesh"]

In [33]:
df_event_data_state_wise=df_event_data[df_event_data["newState"].isin(state_list)]

KeyError: 'newState'